::-webkit-scrollbar {
    width: 6px;
}

/* Стили для ползунка скроллбара */
::-webkit-scrollbar-thumb {
    background-color: #6da0b6;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: #959fbe;
}